.wrapper {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 40px);
    grid-auto-rows: 40px;
    gap: 0;

    background-color: #f8f9fa;
    background-image:
            url('@/shared/assets/parchmentBasic.png');
    background-size: cover;

    width: fit-content;
    user-select: none;
    border-radius: 8px;
    box-shadow: var(--shadow);
    overflow: hidden;
}

.cell {
    width: 30px;
    height: 30px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 0.5px solid rgba(0, 0, 0, 0.03);
}

.cell img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    transition: filter 0.3s ease, transform 0.2s;
    pointer-events: none;
}

.number {
    position: absolute;
    font-size: 8px;
    font-weight: 600;
    bottom: 2px;
    right: 2px;
    background: white;
    color: #5f6368;
    padding: 0 3px;
    border-radius: 4px;
    z-index: 2;
    pointer-events: none;
    border: 1px solid #dadce0;
}

.isSelected .number {
    background: var(--accent);
    color: white;
    border-color: var(--accent);
}